@import './fonts.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: #1d1d1d;
  font-family: "Inter", sans-serif;
}

.app {
  margin: 0 auto;
}

.skeleton-text {
  height: 10px;
  background: #333;
  border-radius: 8px;
  animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-title {
  height: 26px;
  width: 100%;
  margin-bottom: 8px;

  &_modal {
    height: 30px;
  }
}

.skeleton-end-text {
  width: 80px;
  margin-top: 8px;
}

.w-100 { width: 100%; }
.w-155 { width: 155px; }
.w-170 { width: 170px }
.w-160 { width: 160px }
.w-140 { width: 140px }
.w-180 { width: 180px }
.w-80 { width: 80px }

@keyframes pulse {
  0% { background-color: #2a2a2a; }
  50% { background-color: #3a3a3a; }
  100% { background-color: #2a2a2a; }
}